<div>
  <% @visualize_chart.each do |key, values| %>
    <table style="display: none;" id="visualize-chart">
      <caption>Fact table with <%= key %> entries</caption>
      <thead>
        <tr>
          <td></td>
          <th scope="col">scenario 1</th>
          <th scope="col">scenario 2</th>
          <th scope="col">scenario 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Star-Schema</th>
          <td><%= values.select{|v| v.avg if v.name == 'star_schema_scenario_1'}.first.try(:avg) %></td>
          <td><%= values.select{|v| v.avg if v.name == 'star_schema_scenario_2'}.first.try(:avg) %></td>
          <td><%= values.select{|v| v.avg if v.name == 'star_schema_scenario_3'}.first.try(:avg) %></td>
        </tr>
        <tr>
          <th scope="row">Generisches Modell</th>
          <td><%= values.select{|v| v.avg if v.name == 'generic_model_scenario_1'}.first.try(:avg) %></td>
          <td><%= values.select{|v| v.avg if v.name == 'generic_model_scenario_2'}.first.try(:avg) %></td>
          <td><%= values.select{|v| v.avg if v.name == 'generic_model_scenario_3'}.first.try(:avg) %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
<br>

<script type="text/javascript">
  $(function(){
    $('#visualize-chart').visualize({type: 'bar', width: '620px', height: '400px'});
  });
</script>