<div class="well">
  <%= link_to('Facts', star_facts_path, :class => 'btn') %> |
  <%= link_to('Customers', star_customers_path, :class => 'btn') %>
  <%= link_to('Products', star_products_path, :class => 'btn') %>
  <%= link_to('Branches', star_branches_path, :class => 'btn') %>
  <%= link_to('Dates', star_dates_path, :class => 'btn') %>
</div>

