<%= content_for :title, 'Use Cases' %>

<%= render '/comparisons/overview' %>

<%= render('/layouts/sql_query') unless @sql.blank? %>

<% unless @db_response.blank? %>
  <table class="table table-bordered table-striped">
    <tr>
      <% @db_response.first.keys.each do |key| %>
        <th><%= key %></th>
      <% end %>
    </tr>
    <% @db_response.each do |st| %>
      <tr>
        <% st.values.each do |value| %>
          <td><%= value %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<div class="well">
  Fall 1: Erstellen Sie ein Bericht, in dem die deutsche Bundesländer ausgehend von Umsatz im Jahr 2010 absteigend nach dem Umsatz sortiert werden. Der Bericht soll Namen der Bundesländer und ihren Umsatz enthalten.
</div>
<div class="well">
  Fall 2: Zeigen sie 20 meistverkaufte Produkte, die in Filialen in Hamburg an Privatkunden verkauft wurden. Der Bericht soll Produktnamen und deren Anzahl absteigend nach der Anzahl sortiert enthalten.
</div>
<div class="well">
  Fall 3: Erstellen Sie ein Bericht über die Produkte, die im Dezember 2010 in Deutschland verkauft wurden. Der Bericht soll alle Produktdaten enthalten.
</div>