<%= form_for(@star_product) do |f| %>
  <% if @star_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@star_product.errors.count, "error") %> prohibited this star_product from being saved:</h2>

      <ul>
      <% @star_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_no %><br />
    <%= f.number_field :product_no %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :brand %><br />
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :contents %><br />
    <%= f.text_field :contents %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
