<h1>Listing star_products</h1>

<table>
  <tr>
    <th>Product no</th>
    <th>Name</th>
    <th>Category</th>
    <th>Brand</th>
    <th>Contents</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @star_products.each do |star_product| %>
  <tr>
    <td><%= star_product.product_no %></td>
    <td><%= star_product.name %></td>
    <td><%= star_product.category %></td>
    <td><%= star_product.brand %></td>
    <td><%= star_product.contents %></td>
    <td><%= star_product.price %></td>
    <td><%= link_to 'Show', star_product %></td>
    <td><%= link_to 'Edit', edit_star_product_path(star_product) %></td>
    <td><%= link_to 'Destroy', star_product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_star_product_path %>
