<%= content_for :title, 'Star > Branches' %>

<div class="page-header">
  <h2>
    Star-Schema table: star_branches
    <%= link_to('New branch', new_star_branch_path, :class => 'btn btn-small pull-right') %>
  </h2>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th>Branch no</th>
    <th>State</th>
    <th>City</th>
    <th>Postcode</th>
    <th>Street number</th>
    <th>Aktion</th>
  </tr>

<% @star_branches.each do |star_branch| %>
  <tr>
    <td><%= star_branch.branch_no %></td>
    <td><%= star_branch.state %></td>
    <td><%= star_branch.city %></td>
    <td><%= star_branch.postcode %></td>
    <td><%= star_branch.street_number %></td>
    <td>
      <%= link_to 'Show', star_branch, :class => 'btn' %>
      <%= link_to 'Edit', edit_star_branch_path(star_branch), :class => 'btn' %>
      <%= link_to 'Destroy', star_branch, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger' %>
    </td>
  </tr>
<% end %>
</table>
