<p id="notice"><%= notice %></p>

<p>
  <b>Branch no:</b>
  <%= @star_branch.branch_no %>
</p>

<p>
  <b>State:</b>
  <%= @star_branch.state %>
</p>

<p>
  <b>City:</b>
  <%= @star_branch.city %>
</p>

<p>
  <b>Postcode:</b>
  <%= @star_branch.postcode %>
</p>

<p>
  <b>Street number:</b>
  <%= @star_branch.street_number %>
</p>


<%= link_to 'Edit', edit_star_branch_path(@star_branch) %> |
<%= link_to 'Back', star_branches_path %>
