<%= form_for(@star_fact) do |f| %>
  <% if @star_fact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@star_fact.errors.count, "error") %> prohibited this star_fact from being saved:</h2>

      <ul>
      <% @star_fact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :branch_id %><br />
    <%= f.number_field :branch_id %>
  </div>
  <div class="field">
    <%= f.label :date_id %><br />
    <%= f.number_field :date_id %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :discount %><br />
    <%= f.text_field :discount %>
  </div>
  <div class="field">
    <%= f.label :commission %><br />
    <%= f.text_field :commission %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
