<%= form_for(@star_fact) do |f| %>
  <% if @star_fact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@star_fact.errors.count, "error") %> prohibited this star_fact from being saved:</h2>

      <ul>
      <% @star_fact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %>
    <%= f.select("customer_id", Star::Customer.all.collect {|p| [ "id: #{p.id}, #{p.name}", p.id ] }, { :include_blank => true }) %>
  </div>
  <div class="field">
    <%= f.label :product_id %>
    <%= f.select("product_id", Star::Product.all.collect {|p| [ "id: #{p.id}, #{p.name}", p.id ] }, { :include_blank => true }) %>
  </div>
  <div class="field">
    <%= f.label :branch_id %>
    <%= f.select("branch_id", Star::Branch.all.collect {|p| [ "id: #{p.id}, #{p.branch_no}", p.id ] }, { :include_blank => true }) %>
  </div>
  <div class="field">
    <%= f.label :date_id %>
    <%= f.select("date_id", Star::Date.all.collect {|p| [ "id: #{p.id}, #{p.day}", p.id ] }, { :include_blank => true }) %>
  </div>
  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :discount %>
    <%= f.text_field :discount %>
  </div>
  <div class="field">
    <%= f.label :commission %>
    <%= f.text_field :commission %>
  </div>
  <div class="actions">
    <%= link_to 'Back', star_facts_path, :class => 'btn' %>
    <%= f.submit("Save", :class => 'btn btn-primary') %>
  </div>
<% end %>
