<%= content_for :title, 'Star > Fact' %>

<div class="page-header">
  <h2>
    Star-Schema table: star_facts (size: <%= @star_facts.size if @star_facts %>)
    <%= link_to('New fact', new_star_fact_path, :class => 'btn btn-small pull-right') %>
  </h2>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th>ID</th>
    <th>Customer</th>
    <th>Product</th>
    <th>Branch</th>
    <th>Date</th>
    <th>Number</th>
    <th>Discount</th>
    <th>Commission</th>
    <th>Action</th>
  </tr>

<% @star_facts.each do |star_fact| %>
  <tr>
    <td><%= star_fact.id %></td>
    <td>
      <%= link_to '', star_customer_path(star_fact.customer_id), :class => 'icon-arrow-right', :title => 'Show' if star_fact.customer_id %>
      <%= star_fact.customer_id %>
    </td>
    <td>
      <%= link_to '', star_product_path(star_fact.product_id), :class => 'icon-arrow-right', :title => 'Show' if star_fact.product_id %>
      <%= star_fact.product_id %>
    </td>
    <td>
      <%= link_to '', star_branch_path(star_fact.branch_id), :class => 'icon-arrow-right', :title => 'Show' if star_fact.branch_id %>
      <%= star_fact.branch_id %>
    </td>
    <td>
      <%= link_to '', star_date_path(star_fact.date_id), :class => 'icon-arrow-right', :title => 'Show' if star_fact.date_id %>
      <%= star_fact.date_id %>
    </td>
    <td><%= star_fact.number %></td>
    <td><%= star_fact.discount %></td>
    <td><%= star_fact.commission %></td>
    <td>
      <%= link_to('', edit_star_fact_path(star_fact.id), :class => 'icon-pencil', :title => 'Edit') %>
      <%= link_to('', star_fact_path(star_fact.id), :method => :delete, :confirm => "Are you sure?", :class => 'icon-remove', :title => 'Delete') %>
    </td>
  </tr>
<% end %>
</table>
