<%= content_for :title, 'GenericTable > Dimension' %>

<div class="page-header">
  <h2>
    Generic model: Dimension table
    <%= link_to('New Dimension', new_generic_table_dimension_path, :class => 'btn btn-small pull-right') %>
  </h2>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
  </tr>

<% @generic_table_dimensions.each do |generic_table_dimension| %>
  <tr>
    <td><%= generic_table_dimension.id %></td>
    <td><%= generic_table_dimension.name %></td>
    <td>
      <%= link_to 'Show', generic_table_dimension, :class => 'btn' %>
      <%= link_to 'Edit', edit_generic_table_dimension_path(generic_table_dimension), :class => 'btn' %>
      <%= link_to 'Destroy', generic_table_dimension, confirm: 'Are you sure?', method: :delete, :class => 'btn' %>
    </td>
  </tr>
<% end %>
</table>

