<%= form_for(@generic_table_fact_value) do |f| %>
  <% if @generic_table_fact_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@generic_table_fact_value.errors.count, "error") %> prohibited this generic_table_fact_value from being saved:</h2>

      <ul>
      <% @generic_table_fact_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group %><br />
    <%= f.number_field :group %>
  </div>
  <div class="field">
    <%= f.label :dimension_value_id %><br />
    <%= f.number_field :dimension_value_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
