<%= content_for :title, 'GenericTable > FactValue' %>

<div class="page-header">
  <h2>
    Generic model: Fact value table
    <%= link_to('New Fact value', new_generic_table_fact_value_path, :class => 'btn btn-small pull-right') %>
  </h2>
</div>


<table class="table table-bordered table-striped">
  <tr>
    <th>Group</th>
    <th>Dimension value id</th>
    <th>Value</th>
    <th></th>
  </tr>

<% @generic_table_fact_values.each do |generic_table_fact_value| %>
  <tr>
    <td><%= generic_table_fact_value.group %></td>
    <td><%= generic_table_fact_value.dimension_value_id %></td>
    <td><%= generic_table_fact_value.value %></td>
    <td>
      <%= link_to 'Show', generic_table_fact_value, :class => 'btn' %>
      <%= link_to 'Edit', edit_generic_table_fact_value_path(generic_table_fact_value), :class => 'btn' %>
      <%= link_to 'Destroy', generic_table_fact_value, confirm: 'Are you sure?', method: :delete, :class => 'btn' %>
    </td>
  </tr>
<% end %>
</table>
