<%= content_for :title, 'GenericTable > DimensionValue' %>

<div class="page-header">
  <h2>
    Generic model: Dimension value table
    <%= link_to('New Dimension value', new_generic_table_dimension_value_path, :class => 'btn btn-small pull-right') %>
  </h2>
</div>


<table class="table table-bordered table-striped">
  <tr>
    <th>Id</th>
    <th>Aggregation id</th>
    <th>Parent id</th>
    <th>Value</th>
    <th></th>
  </tr>

<% @generic_table_dimension_values.each do |generic_table_dimension_value| %>
  <tr>
    <td><%= generic_table_dimension_value.id %></td>
    <td><%= generic_table_dimension_value.aggregation_id %></td>
    <td><%= generic_table_dimension_value.parent_id %></td>
    <td><%= generic_table_dimension_value.value %></td>
    <td>
      <%= link_to 'Show', generic_table_dimension_value, :class => 'btn' %>
      <%= link_to 'Edit', edit_generic_table_dimension_value_path(generic_table_dimension_value), :class => 'btn' %>
      <%= link_to 'Destroy', generic_table_dimension_value, confirm: 'Are you sure?', method: :delete, :class => 'btn' %>
    </td>
  </tr>
<% end %>
</table>
