<%= form_for(@star_date) do |f| %>
  <% if @star_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@star_date.errors.count, "error") %> prohibited this star_date from being saved:</h2>

      <ul>
      <% @star_date.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %>
    <%= f.number_field :day %>
  </div>
  <div class="field">
    <%= f.label :month %>
    <%= f.number_field :month %>
  </div>
  <div class="field">
    <%= f.label :quarter %>
    <%= f.number_field :quarter %>
  </div>
  <div class="field">
    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>
  <div class="actions">
    <%= link_to 'Back', star_dates_path, :class => 'btn' %>
    <%= f.submit("Save", :class => 'btn btn-primary') %>
  </div>
<% end %>
