<%= content_for :title, 'SQL Requests' %>

<div class="page-header">
  <h2>Listing SQL Requests <%= link_to 'Destroy All Entries', sql_request_path('all'), confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger btn-small pull-right' %></h2>
</div>
Last 100 lines

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>server_id</th>
      <th>start</th>
      <th>finish</th>
      <th>sql_duration</th>
      <th>sql_query</th>
      <th>payload</th>
      <th>table_size</th>
      <th>Action</th>
    </tr>
  </thead>
  <% @sql_requests.each do |sql_request| %>
    <tr>
      <td><%= sql_request.id %></td>
      <td><%= sql_request.name %></td>
      <td><%= sql_request.server_id %></td>
      <td><%= sql_request.start %></td>
      <td><%= sql_request.finish %></td>
      <td><%= sql_request.sql_duration %></td>
      <td><%= sql_request.sql_query %></td>
      <td><%= sql_request.payload[0..9] %> ...</td>
      <td><%= sql_request.table_size %></td>
      <td>
        <%= link_to '', sql_request, :class => 'icon-arrow-right', :title => 'Show' %>
        <%= link_to '', sql_request, :method => :delete, :confirm => "Are you sure?", :class => 'icon-remove', :title => 'Delete' %>
      </td>
    </tr>
  <% end %>
</table>
