<h1>Listing star_customers</h1>

<table>
  <tr>
    <th>Customer no</th>
    <th>Name</th>
    <th>Type</th>
    <th>Street number</th>
    <th>City</th>
    <th>Postcode</th>
    <th>Country</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @star_customers.each do |star_customer| %>
  <tr>
    <td><%= star_customer.customer_no %></td>
    <td><%= star_customer.name %></td>
    <td><%= star_customer.type %></td>
    <td><%= star_customer.street_number %></td>
    <td><%= star_customer.city %></td>
    <td><%= star_customer.postcode %></td>
    <td><%= star_customer.country %></td>
    <td><%= link_to 'Show', star_customer %></td>
    <td><%= link_to 'Edit', edit_star_customer_path(star_customer) %></td>
    <td><%= link_to 'Destroy', star_customer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_star_customer_path %>
